In [4]:
import pandas as pd

data = {'Time (in s)': ['0', '30', '60', '90', '120','150', '180', '240', '300', '360','420'],
        'OD': ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
        'Dry Weight': ['X', '-', '-', '-', '-', 'X', '-', '-', '-', '-', 'X'],
        'CFU': ['X', '-', 'X', '-', 'X', '-', 'X', '-', 'X', '-', 'X'],
        'Total Cells': ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X']}

df = pd.DataFrame(data)
df

   Time (in s) OD Dry Weight CFU Total Cells
0            0  X          X   X           X
1           30  X          -   -           X
2           60  X          -   X           X
3           90  X          -   -           X
4          120  X          -   X           X
5          150  X          X   -           X
6          180  X          -   X           X
7          240  X          -   -           X
8          300  X          -   X           X
9          360  X          -   -           X
10         420  X          X   X           X